<div class="navbar navbar-dark bg-dark">
    <nav class="container-fluid">
        <a class="navbar-brand" href="#">SURVEILLANCE IOT: CAPTEUR DHT11</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'table' %}">Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myChartTemp' %}">Graph of Temperature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myChartHum' %}">Graph of Humidity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'json' %}">Json</a>
            </li>
       
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Deconnecter</a>
            </li>
    </ul>
    </nav>
</div> 